<div id='content'>

</div>

<script type="application/json" id="bootstrapped_feeds">
  <%= current_user.feeds.to_json.html_safe %>
</script>

<script>
$(function(){
  var feeds = JSON.parse($("#bootstrapped_feeds").html());

  window.NewReader.initialize($("#content"),feeds)
})
</script>