<h2><%= feed.escape("title") %></h2>
<ul>
  <% feed.get('entries').each(function(entry){ %>
    <li>
      <%= entry.escape("title") %>
    </li>
  <% }) %>
</ul>


<button type="button" id="refresh">Refresh</button>


<%
  setInterval(function(){
    view.refresh();
  },20000);
  %>

